body{
  background-image: url(images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-zoom: auto;
}
.inner {
  position: absolute;
}
.container{
  display: grid;
  place-items: center;
  grid-template-areas:
                  "inner-div";
}